.ItemDatePicker {
  margin: 5px;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  color: blue;
  &::selection{
    background-color: transparent;
  }

  &.active {
    background-color: blue;
    color: white;
  }

  &:hover {
    border: darkblue solid 1px;
  }
}

.noActive {
  opacity: .3;
}
